body, html{
    background-color:  aquamarine;
}

section{
    margin: 00px;
}

.ingredienser{
      
    z-index: 1;
    left: -50px;
    margin-top: 0;
    max-width: 100%;
}

aside{
        left: -50px;

}