@charset "utf-8";
body{
            

    padding: 30px;
    background-image: url("symphony.png");
    background-repeat: repeat;
}

.h1{
     position: relative;
    left: 500px;
    color: black;
    font-size: 150%;
   
}


   .fps1{
      color: black;
       font-size: 150%;
       width: 1000px;
        position: relative;
       margin: auto;   
     }

.fsn{
border-style: solid;    
    border-color: black;
    font-size: 120%;
    width: 200px;
    background-color: white;
        color: black;
    }

.ssn{
    border-style: solid;    
    border-color: black;
    font-size: 120%;
    width: 345px;
    line-height: 8px;
    height: 20px;
    
    padding-bottom: 5px;
    margin-top: 17px;
    background-color: white;
        color: black;
}
#personsT{
   width: 200px;
        color: blue;

}


.tomStar1{
	width:42px;
	height:42px;
    border-style: solid;    
	
}

.rating {
  display: inline-block;
}

.rating .star {
  display: inline-block;
  width: 24px;
  height: 24px;
  font-size: 22px;
  line-height: 22px;
  cursor: pointer;
}

.rating .star:before {
  content: '☆';
	color: black;
}

.rating .star.active:before {
  content: '★';
  color: yellow;
}
